@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

/* *{
    margin: 0;
    padding: 0;
} */

:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@theme{
/* Vermelho */
  --color-red-50: #f4e7e6;
  --color-red-100: #ddb3b3;
  --color-red-200: #cc8f8e;
  --color-red-300: #b55c5a;
  --color-red-400: #a63c3a;
  --color-red-500: #900b09;
  --color-red-600: #830a08;
  --color-red-700: #660806;
  --color-red-800: #4f0605;
  --color-red-900: #3c0504;

  /* Azul */
  --color-blue-50: #ecf6fe;
  --color-blue-100: ##c3e4fc;
  --color-blue-200: #a7d7fa;
  --color-blue-300: #7ec5f8;
  --color-blue-400: #65baf7;
  --color-blue-500: #3fa9f5;
  --color-blue-600: #399adf;
  --color-blue-700: #2d78ae;
  --color-blue-800: #235d87;
  --color-blue-900: #1a4767;

  /* Preto */
  --color-black-50: #e8e8e8;
  --color-black-100: #b8b8b8;
  --color-black-200: #969696;
  --color-black-300: #666666;
  --color-black-400: #484848;
  --color-black-500: #1a1a1a;
  --color-black-600: #181818;
  --color-black-700: #121212;
  --color-black-800: #0e0e0e;
  --color-black-900: #0b0b0b;

  /* Cinza */
  --color-gray-50: #fdfdfd;
  --color-gray-100: #f8f8f8;
  --color-gray-200: #f4f4f4;
  --color-gray-300: #f0f0f0;
  --color-gray-400: #ededed;
  --color-gray-500: #e8e8e8;
  --color-gray-600: #d3d3d3;
  --color-gray-700: #a5a5a5;
  --color-gray-800: #808080;
  --color-gray-900: #616161;
}
